.root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 500;
  user-select: none;
}

.root[data-disabled="true"],
.root:disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

