.navbar {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 1.25em 1.5em;
	display: flex;
	gap: 1em;
	align-items: center;
	border-bottom: 1px solid #cfcfcf;
	background: #fff;

	& ul {
		position: relative;
		list-style-type: none;
		display: flex;
		align-items: center;
		gap: .75em;
	}

	& li {
		position: relative;
		display: flex;
		align-items: center;
		text-transform: capitalize;
		border-radius: 8px;
		gap: 1em;
		box-sizing: border-box;
		cursor: pointer;
		padding: .75em 1.25em;
		font-size: .85em;
		transition: all .2s ease;

		& svg {
			width: 1.25em;
		}


	}
}

.pageBtnSelected {
	background: var(--midnight-green);
	color: #fff;

	& svg {
		animation: ic-anim .9s ease-in-out;
	}
}

.pageBtn {
	color: var(--normal-dark);
	box-shadow: 0 0 0 2px #cfcfcf inset;

	&:hover {
		background: #efefef;
	}
}

.title {
	padding-right: 1em;
	color: var(--midnight-green);
}

.userInfo {
	position: relative;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.email {
	font-size: .8em;
	opacity: .75;
}

.logout {
	transition: all .2s ease;
	position: relative;
	display: flex;
	align-items: center;
	text-transform: capitalize;
	border-radius: 8px;
	gap: 1em;
	box-sizing: border-box;
	cursor: pointer;
	padding: .75em 1.25em;
	font-size: .95em;
	border: none;
	background: none;
	box-shadow: 0 0 0 2px #cfcfcf inset;

	& svg {
		width: 1.25em;
	}

	&:hover {
		background: #efefef;
	}

}

@keyframes ic-anim {
	0% {
		transform: rotate(0deg);
	} 25% {
		transform: rotate(-45deg);
	} 50% {
		transform: rotate(12deg);
	} 100% {
		transform: rotate(0deg);
	}
}
